extends layout

block content
  h1= title
  h2 Author
  p= book.author
  h2 Summary
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit placeat alias adipisci, perferendis rerum nulla? Accusamus ad corrupti odio dolore impedit? Natus cum beatae quam! Ad repellendus qui aut vero?
  p Consequatur aut ex eum distinctio ipsam ipsum ducimus laboriosam voluptatem, quaerat illo molestias sed quas! Veritatis ab accusantium voluptas amet suscipit culpa.


