extends layout

block content
  h1= title
  if newlyAuthenticated
    .alert.alert-success.alert-dismissible.fade.show You are authenticated as #{user.username}!
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
  p Welcome !
